<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
<meta name="theme-color" content="{{ settings.color_primary }}">
{% if settings.enable_google == true %}
<meta name="verify-v1" content="{{ settings.google_id }}">
{% endif %}

{%- if gift_card != blank -%}
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>
    <meta name="robots" content="noindex,nofollow">
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
{%- else -%}
    {% include 'canonical-link' %}

    {% if shop.url contains '.myshopify.com' %}
        <meta name="robots" content="noindex,nofollow">
    {% elsif request.path == '/collections/vendors' and collection.all_vendors == blank -%}
        {%- comment -%} Noindex for bad vendor links from external sources: https://community.shopify.com/c/shopify-discussions/website-hacked-help/td-p/1748004 {%- endcomment -%}
        <meta name="robots" content="noindex,nofollow">
    {% else %}
        <meta name="robots" content="index,follow">
    {% endif %}

    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    {% capture seo_title %}
        {{ page_title }}
        {% if current_tags %}
            {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
        {% endif %}
        {% if current_page != 1 %}
            &ndash; {{ 'general.meta.page' | t: page: current_page }}
        {% endif %}
        {% unless page_title contains shop.name %}
            &ndash; {{ shop.name }}
        {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'social-meta-tags' %}
{%- endif -%}

{% comment %}
    "polyfill" vw/vh units for iOS
        - these account for changes in vw/vh due to "chrome" shown
        - it needs to be set here since it's used in CSS (loaded directly below)
{% endcomment %}
<script>
    (function () {
        var root = document.documentElement;

        try {
            var vv = window.visualViewport;

            root.style.setProperty('--vh', (vv.height / 100) + 'px');
            root.style.setProperty('--vw', (vv.width / 100) + 'px');
            vv.addEventListener('resize', () => {
                root.style.setProperty('--vh', (vv.height / 100) + 'px');
                root.style.setProperty('--vw', (vv.width / 100) + 'px');
            });
        } catch (_) {
            // VisualViewport not supported, use `document.documentElement.clientHeight` instead
            root.style.setProperty('--vh', (root.clientHeight / 100) + 'px');
            root.style.setProperty('--vw', (root.clientWidth / 100) + 'px');
            window.addEventListener('resize', () => {
                root.style.setProperty('--vh', (root.clientHeight / 100) + 'px');
                root.style.setProperty('--vw', (root.clientWidth / 100) + 'px');
            });
        }
    })();
</script>

{% comment %} 1R Site Style {% endcomment %}
{%- if settings.hp_header_color == 'header-dark_text' -%}
    <style>
        :root {
            --black: #000000;
            --white: #ffffff;
        }
    </style>
{%- else -%}
    <style>
        :root {
            --black: #ffffff;
            --white: #000000;
        }
    </style>
{%- endif -%}

{% comment %} 1R Site Style {% endcomment %}
{%- if isCheckout -%}
    {%- include 'style-tags.checkout' -%}
{%- else -%}
    {%- include 'style-tags.theme' -%}
{%- endif -%}

{% comment %} Youtube IFrame API {% endcomment %}
{%- unless isPasswordPage or isCheckout -%}
    <script src="https://www.youtube.com/iframe_api" async></script>
{%- endunless -%}

{% comment %} 1R Base Scripts {% endcomment %}
<script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
        configs: {
            cookieBannerEnabled: {%- if settings.cookie_banner_enable -%}true{%- else -%}false{%- endif -%}
        },
        strings: {
            addToCart: {{ 'products.product.add_to_cart' | t | json }},
            soldOut: {{ 'products.product.sold_out' | t | json }},
            unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }} 
    };
    
    // 1R global helper javascript
    var ORW = (function (ORW) { return ORW; } (ORW || {}));
    window.ORW = ORW;
    ORW.storeName = '{{ shop.name }}';
    ORW.storeUrl = '{{ shop.url }}';
    ORW.responsive = '';
    ORW.responsiveSizes = {
        medium : 768,
        large : 1024,
        xlarge : 1200,
        xxlarge : 1440
    };
    ORW.template = {
        directory: {{ template.directory | json }},
        name: {{ template.name | json }},
        suffix: {{ template.suffix | json }},
    };
    ORW.breakpoint = '(min-width: 1025px)';
    ORW.hideTrailingZeros = true;
    ORW.placeholder = "{{ 'placeholder.jpg' | file_img_url: '500x' }}";
    ORW.assetsUrl = "{{ 'theme.js' | asset_url }}";
    ORW.appUrl = ORW.assetsUrl.split('theme.js')[0];
    ORW.appUrlHash = ORW.assetsUrl.split('theme.js')[1];
    ORW.performance = {
        webVitalsEnable: {{ settings.web_vitals_enable | json }},
        webVitalsClientId: '{{ settings.web_vitals_client }}',
        webVitalsUrl: '{{ settings.web_vitals_endpoint }}',
        webVitalsReportType: '{{ settings.web_vitals_type }}',
    };
    ORW.routes = {
        cartAddURL: '{{ routes.cart_add_url }}',
        cartChangeURL: '{{ routes.cart_change_url }}',
        cartUpdateURL: '{{ routes.cart_update_url }}',
        cartURL: '{{ routes.cart_url }}',
        predictiveSearchURL: '{{ routes.predictive_search_url }}',
    };



    ORW.formatMoney = function(money){
        // Reads in money in $104.00 format, not 104
        if(ORW.hideTrailingZeros){
            return money.replace(/((\,00)|(\.00))$/g, '');
        }else{
            return money;
        }
    };

    ORW.utilities = {
        'isMobile' : function() {
            var check = false;
            (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od|ad)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
            return check;
        },
        'isTouchEnabled' : function() {
            return 'ontouchstart' in document.documentElement;
        },
        'getUrlParam' : function(url, sParam, value) {
            var sPageURL = url != undefined ? url : decodeURIComponent(window.location.search.substring(1));
            if (sPageURL.indexOf("?") >= 0) { sPageURL = sPageURL.replace("?", "&"); }
            var sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    if (value && sParameterName[1] !== undefined) {
                        var st1 = sParameterName[0] + '=' + sParameterName[1];
                        var st2 = sParameterName[0] + '=' + value;
                        return url.replace(st1, st2);
                    } else {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            }
        },
        'updateUrlParam' : function(url, sParam, value) {
            url = url ? url : window.location.href;
            var newurl = url;
            var currentHandle = ORW.utilities.getUrlParam(url,sParam);
            if (currentHandle) {
                // Replace
                newurl = ORW.utilities.getUrlParam(url,sParam,value);
            } else {
                // Create new depends on current params and url structure
                if (url.indexOf('?') > 0) {
                    newurl += '&' + sParam + '=' + value;
                }else{
                    newurl += '?' + sParam + '=' + value;
                }
            }
            return newurl;
        },
        'setCookie' : function(name,value,days,domain,path = null) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
            } else {
                var expires = "";
            }
            
            if (domain && path) {
                document.cookie = name+"="+value+expires+"; path="+path+"; domain=" + domain;
            } else if(domain) {
                document.cookie = name+"="+value+expires+"; domain=" + domain;
            } else {
                document.cookie = name+"="+value+expires+"; path=/";
            }
        },
        'getCookie' : function(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        },
        'deleteCookie' : function(name) {
            this.setCookie(name,"",-1);
        },
        'searchCookie' : function(term) {
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                var s = c.split('=');
                if (s.length > 0 && s[0].indexOf(term) > -1) return s[0];
            }
            return null;
        }
    }

    // Site-wide GA4 / GTM variables
    ORW.enableGTM = {{ settings.enable_gtm }};
    ORW.marketingSettings = {
        promoParentClass: 'ga-promo-element',
        dataAttributePromo: '[data-ga-promo-json]',
        shopCurrency: '{{shop.currency}}',
        cartCurrency: '{{cart.currency.iso_code}}'
    }
</script>
