<form class="cart" action="{{ routes.cart_url }}" method="post" novalidate>
    <div class="cart-items-wrapper">  
        <div class="cart-items">
            <h1 class="page-title cart-only {% if cart.empty? %}hide{% endif %}">{{ 'cart.general.title' | t }}</h1> 
            {% if cart.empty? %}
            <div class="cart-empty">
                <p class="cart-empty-message">{{ 'cart.general.empty' | t }}</p>
                <div class="empty-cart-suggestions">
                    <a href="/collections/bestsellers" class="cta-2">
                        Shop Bestsellers
                    </a>
                    <a href="/collections/whats-new" class="cta-2">
                        Shop What's New
                    </a>
                </div>
            </div>
            {% else %}
                {% render 'cart-item' for cart.items as item %}
                <a class="continue-shopping cta-2 cart-only" href="/">Continue Shopping</a>
            {% endif %}
            </div>
    </div>
    <div class="cart-summary-wrapper">
        {% if cart.empty? %}

        {% else %}
        <div class="cart-summary">
            <h2 class="summary-title cart-only">{{ 'cart.general.summary' | t }}</h2>
            <div class="subtotal">
                <span class="total-label">{{ 'cart.general.subtotal' | t }}</span>
                <span class="total-price">
                    {% render 'spinner' %}
                    <span>{{ cart.items_subtotal_price | money }}</span>
                </span>
            </div>
            <p class="shipping-message cart-only">{{ 'cart.general.shipping_at_checkout' | t }}</p>
            <div class="total cart-only">
                <span class="total-label">{{ 'cart.label.total' | t }}</span>
                <span class="total-price">
                    {% render 'spinner' %}
                    <span>{{ cart.total_price | money }}</span>
                </span>
            </div>
    
            {% if settings.cart_notes_enable %}
                <div class="cart-notes">
                    <label for="note">Special instructions for seller</label>
                    <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
            {% endif %}
    
            <div class="cart-actions">
                <noscript>
                    <button type="submit" name="update" class="cta-1 update-cart-btn" value="{{ 'cart.general.update' | t }}">{{ 'cart.general.update' | t }}</button>
                </noscript>
                <a class="view-cart cta-2 minicart-only" href="/cart">View Cart</a>
                <button type="submit" name="checkout" class="cta-1 checkout-button" value="{{ 'cart.general.checkout' | t }}">{{ 'cart.general.checkout' | t }}</button>
                {% if additional_checkout_buttons %}
                    <div class="additional-checkout-buttons cart-only">
                        {{ content_for_additional_checkout_buttons }}
                    </div>
                {% endif %}
            </div>
            <div class="additional-checkout-info cart-only">
                <span>Discount and promo codes entered at checkout</span>
                <span>*Shipping to AK, HI not included</span>
                <!--<span>Our warehouse is closed for annual inventory through January 9th.<br> Your order will ship out on or after January 10.</span>-->
            </div>
        </div>
        {% endif %}
    </div>
</form>