{%- unless for_mobile_menu -%}
    {% comment %} Blocks for large screen ONLY {% endcomment %}
    <div class="header-block block-mobile-nav">
        <button class="block-title menu-toggle" aria-controls="NavDrawer" aria-label="Menu" aria-expanded="false">
             <span class="animated-hamburger">
                 <span></span><span></span><span></span>
             </span>
        </button>
    </div>
{%- endunless -%}

{% if shop.customer_accounts_enabled %}
    {%- if for_mobile_menu -%}
        {% comment %} Account blocks for small screen ONLY {% endcomment %}
        <div class="header-block block-account">
            {% if customer %}
                <a href="{{ routes.account_url }}" class="block-title">{{ 'layout.customer.account' | t }}</a>
                <a href="{{ routes.account_logout_url }}" class="block-title">{{ 'layout.customer.log_out' | t }}</a>
            {% else %}
                <a href="{{ routes.account_url }}" class="block-title">{{ 'layout.customer.log_in' | t }}</a>
            {% endif %}
        </div>
        {% comment %}
        <div class="header-block block-link">
            <a href="#" class="block-title">{{ 'layout.additional_link' | t }}</a>
        </div>
        {% endcomment %}
    {%- else -%}
        {% comment %} Account blocks for large screen ONLY with dropdown content {% endcomment %}
        <div class="header-block block-account has-dropdown">
        {% if customer %}
            <a href="{{ routes.account_url }}" class="block-title">{{ 'layout.customer.account' | t }}</a>
            <div class="block-content dropdown">
                {% if customer.first_name != blank %}
                    <a href="{{ routes.account_url }}">{{ 'layout.customer.logged_in_as_html' | t: first_name: customer.first_name }}</a>
                {% else %}
                    <a href="{{ routes.account_url }}">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </div>
        {% else %}
            <a href="{{ routes.account_url }}" class="block-title">{{ 'layout.customer.log_in' | t }}</a>
            <div class="block-content dropdown">
                {{ 'layout.customer.log_in' | t | customer_login_link }}
                {{ 'layout.customer.create_account' | t | customer_register_link }}
            </div>
        {% endif %}
        </div>        
    {%- endif -%}
{% endif %}
