{%- assign isHomepage = false -%}
{%- if template.name == 'index' -%}
{%- assign isHomepage = true -%}
{%- endif -%}

<!-- Search Drawer -->
<div id="SearchBar" class="drawer drawer-top" role="dialog">
    <button class="drawer-close" type="button"><span class="visually-hidden">{{ 'general.accessibility.close_drawer' | t }}</span></button>
    {% include 'predictive-search-form', search_form_id: 'Search' %}
</div>

<!-- Cart Drawer -->
<div id="MiniCart" class="drawer drawer-right" role="dialog">
    <button type="button" class="drawer-close"><span class="visually-hidden">{{ 'general.accessibility.close_drawer' | t }}</span></button>
    <div class="drawer-title">
        <a href="{{ routes.cart_url }}">
            {{ 'general.minicart.title' | t }}<span>( <span class="minicart-count">{{cart.item_count}}</span> )</span>
        </a>
    </div>
    <div id="CartContainer" class="minicart-container">
        {% section 'minicart-messaging' %}
        {% render 'cart', cart: cart %}
    </div>
</div>

<!-- Mobile Drawer -->
<div id="MobileNav" class="drawer drawer-left" role="dialog">
    <div class="header-utilities">
        {% include 'header-utility-blocks', for_mobile_menu: true %}
    </div>
</div>

<!-- Site header -->
<header role="banner" class="site-header style-3 {% if isHomepage %}homepage{% endif %}">
    
    {% include "promo-banner" %}
    
    <div class="header-content">

        <!-- Header Extra Links -->
        <div class="header-utilities-left">
            {%- include 'header-utility-blocks-left', for_mobile_menu: false -%}
        </div>
        <!-- Header Extra Links End -->
            
        <!-- Site logo and title -->
        {% if isHomepage %}
        <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
        <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <span class="screen-reader-text">{{- shop.name -}}</span>
            <a href="{{ routes.root_url }}" itemprop="url" class="site-logo{% if settings.logo != blank %} site-header__logo-image{% endif %}">
                {% if settings.logo != blank %}
                    {% capture image_size %}{{ settings.logo_max_width }}x{% endcapture %}
                    <img src="{{ settings.logo | img_url: image_size }}"
                        srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                        alt="{{ settings.logo.alt | default: shop.name }}"
                        itemprop="logo">
                {% endif %}
            </a>
        {% if isHomepage %}
        </h1>
        {% else %}
        </div>
        {% endif %}
        <!-- Site logo and title End -->
        
        <!-- Header Extra Links -->
        {%- include 'header-extra-links' -%}
        <!-- Header Extra Links End -->

        <!-- Utility -->
        <div class="header-utilities">
            <div class="header-utilities-wrapper">
                <div class="header-block block-search block-search-mobile">
                    <button class="block-title search-toggle">
                        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                    </button>
                </div>    
                <div class="header-block block-search block-search-scroll">
                    <button class="block-title search-toggle"></button>
                </div>
                <div class="header-block block-country hide-medium-down">
                    <div class="site-country">
                        {% assign flag_code = "US" %}{% comment %}default value{% endcomment %}
                        {% for country in localization.available_countries %}
                            {% if country.iso_code == localization.country.iso_code %}
                                {% assign flag_code = localization.country.iso_code | downcase %}
                            {% endif %}
                        {% endfor %}
                        <button class="block-title country-text">{{ flag_code | upcase }}<span class="hide flag-icon flag flag-{{flag_code}}"></span><span class="icon icon-chevron-down"></span></button>
                    </div>
                </div>
                <div class="header-block block-minicart has-dropdown" aria-controls="MiniCart" aria-expanded="false">
                    <button class="block-title">
                        <span id="CartTitle">{{- 'layout.cart.title' | t -}}</span>
                        <span id="CartCount" class="minicart-count {% if cart.item_count == 0 %}hidden{% endif %}">{{- cart.item_count -}}</span>
                        <span id="CartCost" class="minicart-cost">{{- cart.total_price | money -}}</span>
                    </button>
                    {% comment %} Comment out following 'MiniCartAsDropdown' to use drawer layout on Desktop {% endcomment %}
                    {% comment %}
                    <div id="MiniCartAsDropdown" class="block-content dropdown">
                        <div class="block-content-wrapper">
                            <div class="dropdown-title">
                                {{ 'general.minicart.title' | t }}<span>(<span class="minicart-count">{{cart.item_count}}</span>)</span>
                            </div>
                            <div class="minicart-container"></div>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
            {% include 'header-utility-blocks', for_mobile_menu: false %}
        </div>
        <!-- Utility End -->
        
        <!-- Nav Support Nested Menu -->
        {% section 'navigation' %}
        <!-- Nav End -->
    </div>
    <div class="scroll-search-container">
        {% include 'predictive-search-form', search_form_id: 'SearchInline' %}
    </div>
</header>