{% assign metafields = product.metafields["custom_fields"] %}
{%- if layout == 'tab' -%}
    {% assign counter = 0 %}
    <div class="tab-container tab-accordion-system">
        {% assign activeClass = true %}
        {% assign metaSettings = settings.product_metafields | split: ',' %}
        {%- assign counterMeta = 0 -%}
        {%- for item in metafields -%}
            {%- assign metaKey = item[0] -%}
            {% for meta in metaSettings %}
                {% if metaKey contains meta %}
                    {% if metaKey contains '-title' %}
                        {% assign counterMeta = counterMeta | plus: 1 %}

                        {% assign titleIteration = meta | append: counterMeta | append: '-title' %}
                        {% assign textIteration = meta | append: counterMeta | append: '-body' %}
                        {% assign headerIteration = meta | append: counterMeta | append: '-header' %}
                        {% assign subheaderIteration = meta | append: counterMeta | append: '-subheader' %}
                        {% assign positionIteration = meta | append: counterMeta | append: '-position' %}
                        {% assign videoIteration = meta | append: counterMeta | append: '-video-url' %}
                        {% assign videoTypeIteration = meta | append: counterMeta | append: '-video-type' %}
                        {% assign videoIdIteration = meta | append: counterMeta | append: '-video-id' %}
                        {% assign thumbnailIteration = meta | append: counterMeta | append: '-thumbnail' %}
                        {% assign checklistIteration = meta | append: counterMeta | append: '-checklist' %}

                        {% assign titleTab = product.metafields["custom_fields"][titleIteration] %}
                        {% assign textTab = product.metafields["custom_fields"][textIteration] %}
                        {% assign headerTab = product.metafields["custom_fields"][headerIteration] %}
                        {% assign subheaderTab = product.metafields["custom_fields"][subheaderIteration] %}
                        {% assign positionTab = product.metafields["custom_fields"][positionIteration] %}
                        {% assign videoTab = product.metafields["custom_fields"][videoIteration] %}
                        {% assign videoType = product.metafields["custom_fields"][videoTypeIteration] %}
                        {% assign videoId = product.metafields["custom_fields"][videoIdIteration] %}
                        {% assign thumbnailTab = product.metafields["custom_fields"][thumbnailIteration] %}
                        {% assign checklistTab = product.metafields["custom_fields"][checklistIteration] %}
                        {% assign checklistTab2 = checklistTab | split: ',' %}

                        {%- assign systemTitle = titleTab -%}
                        <div class="system {% if activeClass %}active{% endif %}">
                            <div class="system-title system-title-{{ counter }} {% if forloop.last and with_reviews != true %}system-title-last{% endif %}" data-target="system-{{- counter -}}">{{ systemTitle }}</div>
                            <div id="{{ systemTitle | downcase | handleize }}" class="system-content {% if activeClass %}active{% endif %}" data-target="system-{{- counter -}}">
                                <div class="content-inner">
                                    <div class="content-wrapper {{ positionTab | downcase }}">
                                        <div class="column first">
                                            <div>
                                                <p class="body-font-4 subheadline">{{ subheaderTab }}</p>
                                                <h4 class="title-font-5 headline">{{ headerTab }}</h4>
                                                <div class="body-font-2">{{ textTab }}</div>
                                                {% if checklistTab2.size > 1 %}
                                                    <div class="checklist">
                                                        {% for element in checklistTab2 %}
                                                            <span class="body-font-5 list-item">{{ element | replace: '"', '' | replace: '[', '' | replace: ']', '' | replace: '\', '' }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="column second">
                                            <div class="image-wrap">
                                                {% if videoTab != blank %}
                                                    <span class="absolute-image desktop-image lazy" role="img" aria-label="{{ titleTab }}" style="background-image:url('{{ product.metafields["custom_fields"][thumbnailIteration].value | img_url: '1024x' }}');" data-bg="{{ product.metafields["custom_fields"][thumbnailIteration].value | img_url: '1024x' }}"></span>

                                                    <span class="absolute-image mobile-image lazy" role="img" aria-label="{{ titleTab }}" style="background-image:url('{{ product.metafields["custom_fields"][thumbnailIteration].value | img_url: '1024x' }}');" data-bg="{{ product.metafields["custom_fields"][thumbnailIteration].value | img_url: '1024x' }}"></span>

                                                    <div class="video-wrapper bg-video"
                                                        data-video-type="{{ videoType }}"
                                                        data-video-id="{{ videoId }}"
                                                        data-video-src="{{ videoTab }}">
                                                        <div id="{{ videoId }}" class="video-player"></div>
                                                        <button class="video-ctl paused"></button>
                                                    </div>
                                            
                                                {% else %}
                                                    {%- include 'responsive-image',
                                                        image: product.metafields["custom_fields"][thumbnailIteration].value | image_tag,
                                                        imageSmall: product.metafields["custom_fields"][thumbnailIteration].value | image_tag,
                                                        alt: '{{ titleTab }}',
                                                        size: '1024x',
                                                        sizeMedium: '1024x',
                                                        sizeSmall: '1024x',
                                                        heightFix: false,
                                                    -%}
                                                {% endif %}
               
                                                
                          
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% assign counter = counter | plus: 1 %}
                        {% assign activeClass = false %}
                        
                        {%- if forloop.last -%}
                            {% comment %}
                            Stict block in tab system, use this one as second tab 
                            {% endcomment %}
                            {%- if with_static -%}
                            <div class="system">
                                <div class="system-title system-title-{{ counter }}" data-target="system-{{ counter }}">Comfort Technology</div>
                                <div class="system-content" data-target="system-{{ counter }}">
                                    <div class="content-inner">
                                        {% section 'product-static' %}
                                    </div>
                                </div>
                            </div>
                            {% assign counter = counter | plus: 1 %}    
                            {%- endif -%}
                            
                            {%- if with_reviews -%}
                            {% comment %}
                            Review block will always be the last one in system
                            {% endcomment %}
                            <div class="system">
                                <div class="system-title system-title-{{ counter }} system-title-last" data-target="system-{{- counter -}}">
                                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">{{- 'products.product.reviews' | t -}}</span>
                                </div>
                                <div class="system-content" data-target="system-{{- counter -}}">
                                    <div class="content-inner">
                                        {%- include 'product-reviews', review_widget: 'reviews' -%}
                                    </div>
                                </div>
                            </div>    
                            {%- endif -%}
                        {%- endif -%}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {%- endfor -%}
    </div>
{%- else layout == 'accordion' -%}
    {% assign counter = 0 %}
    <div class="accordion-container tab-accordion-system">
        {%- for item in metafields -%}
        {%- assign metaKey = item[0] -%}
        {%- if settings.product_metafields contains metaKey  -%}
            {%- assign systemTitle = metaKey | replace: '-', ' ' -%}
            <div class="system">
                <div class="system-title system-title-{{ counter }} {% if forloop.last %}system-title-last{% endif %}" data-target="system-{{- counter -}}">{{ systemTitle }}</div>
                <div class="system-content" data-target="system-{{- counter -}}">
                    <div class="content-inner">
                        {{ item[1] }}
                    </div>
                </div>
            </div>
            {% assign counter = counter | plus: 1 %}
        {%- endif -%}
        {%- endfor -%}
    </div>
{%- endif -%}