{% for collection in product.collections %}
    {% assign words = collection.title | downcase | split: settings.product_linked_key %}
    {% assign hasLinkedCollection = words | size %}
    {% if hasLinkedCollection > 1 %}
    {% comment %}
    - We found linked collection, so render the linked products below
    - Set rule to prevent rendering corrent product using: sibling.handle != product.handle 
    - Linked collection should bind to variant option such as color, we use color as default binding
    {% endcomment %}
    
        {%- assign swatchImageHtml = '' -%}
        {%- assign swatchImageValue = '' -%}
        {%- assign currentSwatchImage = '' -%}
        {%- assign currentSwatchImageValue = '' -%}
        {%- assign siblingCount = 0 -%}

        <div class="selector-wrapper oneswatch oneswatch-linked">
            {%- capture swatches -%}
            {% for sibling in collection.products %}
            
                {%- assign swatchImageValue = sibling.selected_or_first_available_variant.option1 | downcase -%}
                {%- if sibling.handle == product.handle -%}
                    {%- assign currentSwatchImageValue = swatchImageValue -%}
                    {%- assign currentSwatchImageLabel = product.options[0] -%}
                {%- endif -%}
                
                {%- assign swatchImage = '' -%}
                {% for image in sibling.images %}
                    {%- if image.src contains '-swatch' or image.src contains '_swatch' -%}
                        {%- assign swatchImage = image -%}
                        {% break %}
                    {%- endif -%}
                {% endfor %}
                {%- if swatchImage == '' -%}
                    {%- assign swatchImage = settings.default_swatch_image -%}
                {%- endif -%}

                {%- if currentSwatchImageValue and sibling.handle == product.handle -%}
                    {%- assign currentSwatchImage = swatchImage -%}
                {%- endif -%}

                {% capture swatchImageHtml %}
                {%- include 'responsive-image', image: swatchImage, size: '50x', imageSmall: swatchImage, sizeSmall: '50x' -%}
                {% endcapture %}
                
                <a class="swatch swatch-linked {% if sibling.handle == product.handle %}active{% endif %} {% unless sibling.available %}disabled{% endunless %}"
                    href="{{ sibling.url }}" {% if layout == 'quickshop' %}data-ajax="true"{% endif %} 
                    data-image="{{ swatchImage.src | img_url: '50x', format: 'pjpg' }}" >
                    <div class="swatch-image">
                        {{- swatchImageHtml -}}
                    </div>
                </a>
                
                {%- assign siblingCount = siblingCount | plus: 1 -%}
            {% endfor %}
            {%- endcapture -%}
            
            <div class="swatches linked clearfix" data-name="linked">
                {{ swatches }}
            </div>
            <div class="swatch-label">
                <span class="label">{{ currentSwatchImageLabel }}</span>
                <span class="value">{{ currentSwatchImageValue }}</span>
            </div>
        </div>
        
        {% break %}
    {% endif %}
{% endfor %}