{% comment %}
Image naming convention : sku_[sku]_[variant_option]_[variant_option_value]_[index_or_swatch].[file_extension]
    e.g. [prodyct-title]_test002_swatch.png
    e.g. [prodyct-title]_test002_02.png
{% endcomment %}
{%- assign media_index_sku = 1 -%}
{%- assign media_index_variant_value = 1 -%}
{%- assign media_index_indexing_or_swatch = 2 -%}
{%- assign productImageRatio = 1.5 -%}

{%- unless current_variant -%}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endunless -%}

{%- unless featured_image -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- endunless -%}

<div class="product-media {{ layout }}">
    {% assign lastCount = 0 %}
    {% assign thumbnailHtml = '' %}
    {% assign featuredImageSrcSections = featured_image.src | split: '_' %}
    {% assign selected_media_option = featuredImageSrcSections[media_index_sku] | downcase | handleize %}
    {% assign selected_media_option_value = featuredImageSrcSections[media_index_variant_value] | downcase | handleize %}
    {% assign videoThumbnail = product.metafields["custom_fields"]["product-media-video-thumb"] %}
    {% assign videoTitle = product.metafields["custom_fields"]["product-media-video-title"] %}
    {% assign videoUrl = product.metafields["custom_fields"]["product-media-video"] %}
    {% assign videoId = videoUrl | split: "vimeo.com/" %}
    <div class="product-media-images" id="ProductMediaImages">
        {% render 'product-badge' %}
        <div class="images-wrapper" data-variant-option="{{ selected_media_option }}" data-variant-option-value="{{ selected_media_option }}">
        {% for image in product.images %}
            {%- assign imageSrcSections = image.src | split: '_' -%}
            {%- assign imageSrcSections__sku = imageSrcSections[media_index_sku] | downcase | handleize -%}
            {%- assign imageSrcSections__index_swatch = imageSrcSections[media_index_indexing_or_swatch] | downcase -%}

            {%- unless imageSrcSections__index_swatch contains 'swatch' -%}
                
                {%- if layout == 'slider' -%}
                    {%- assign zoomImage = image.src | img_url: '3000x', format: 'pjpg' -%}
                    {%- assign sliderImage = image.src | img_url: '1600x', format: 'pjpg' -%}
                    {%- assign thumbnailImage = image.src | img_url: '300x', format: 'pjpg' -%}
                {%- elsif layout == 'scrolling' -%}
                    {%- assign zoomImage = image.src | img_url: '3000x', format: 'pjpg' -%}
                    {%- assign sliderImage = image.src | img_url: '1200x', format: 'pjpg' -%}
                    {%- assign thumbnailImage = image.src | img_url: '1200x', format: 'pjpg' -%}
                {%- elsif layout == 'quickshop' -%}
                    {%- assign zoomImage = '#' -%}
                    {%- assign sliderImage = image.src | img_url: '800x', format: 'pjpg' -%}
                    {%- assign thumbnailImage = image.src | img_url: '200x', format: 'pjpg' -%}
                {%- endif -%}
                
                {%- if isGiftCard -%}
                    {%- assign zoomImage = '#' -%}
                {%- endif -%}
                
                <a href="{{ zoomImage }}" class="image-slide" data-variant-option-value="{{ imageSrcSections__sku }}" data-index="{{ forloop.index }}">
                    <span class="background-image" role="img" aria-label="{{ image.src.alt }}" style="background-image:url('{{ sliderImage }}');"></span>
                    <img src="{{ sliderImage }}" alt="{{ image.alt | escape }}">
                </a>
                
                {% capture thumbnailHtmlItem %}
                <a href="{{ zoomImage }}" class="image-thumbnail {% if layout == 'scrolling' %}image-slide{% endif %}" data-variant-option-value="{{ imageSrcSections__sku }}" data-index="{{ forloop.index }}">
                    <span class="background-image" role="img" aria-label="{{ image.src.alt }}" style="background-image:url('{{ thumbnailImage }}');"></span>
                    <img src="{{ thumbnailImage }}" alt="{{ image.alt | escape }}">
                </a>
                {% endcapture %}
                {% assign thumbnailHtml = thumbnailHtml | append: thumbnailHtmlItem %}
                
                {% assign lastCount = lastCount | plus: 1 %}
                
            {%- endunless -%}
        {% endfor %}
        
            {% comment %}
            Product Media Video here (For 'slider' and mobile views)
            {% endcomment %}
            {%- unless layout == 'quickshop' -%}

       

            {%- if videoUrl -%}
                <div class="image-slide media-video" data-variant-option-value="{{ imageSrcSections__sku }}" data-index="{{ lastCount | plus: 1 }}" >
                    <div class="video-wrapper"
                        data-video-type="vimeo"
                        data-video-id="{{ videoId[1] }}"
                        data-video-src="{{ videoUrl }}">
                        <div class="video-poster">
                            <span class="absolute-image desktop-image lazy" role="img" aria-label="{{ videoTitle }}" style="background-image:url('{{ videoThumbnail | img_url: '1x' }}');" data-bg="{{ videoThumbnail | img_url: '1200x' }}"></span>
                            <span class="absolute-image mobile-image lazy" role="img" aria-label="{{ videoTitle }}" style="background-image:url('{{ videoThumbnail | img_url: '1x' }}');" data-bg="{{ videoThumbnail | img_url: '768x' }}"></span>
                        </div>
                        <div id="{{ videoId[1] }}" class="video-player"></div>
                        <button class="video-ctl paused"></button>
                    </div>
                </div>
            {%- endif -%}
            {%- endunless -%}
        </div>
    </div>
    
    <div class="product-media-thumbnails" id="ProductMediaThumbs">
        <div class="images-wrapper" data-variant-option="{{ selected_media_option }}" data-variant-option-value="{{ selected_media_option_value }}">
            {{ thumbnailHtml }}
            {% comment %}
            Product Media Video here (For thumbnails and 'scrolling' views)
            {% endcomment %}
            {%- unless layout == 'quickshop' -%}
            {%- if videoUrl -%}
            <div class="image-thumbnail image-thumbnail-video{% if layout == 'scrolling' %}media-video image-slide{% endif %}" data-variant-option-value="{{ imageSrcSections__sku }}" data-index="{{ lastCount | plus: 1 }}" >
                <span class="thumbnail-video-ctl"></span>
                <span class="absolute-image desktop-image lazy" role="img" aria-label="{{ videoTitle }}" style="background-image:url('{{ videoThumbnail | img_url: '1x' }}');" data-bg="{{ videoThumbnail | img_url: '1200x' }}"></span>
                <img src="{{ videoThumbnail }}" alt="{{ videoTitle }}">
                {%- if layout == 'scrolling' -%}
                <div class="video-wrapper bg-video"
                    data-ratio="{{ productImageRatio }}"
                    data-video-type=""
                    data-video-id=""
                    data-video-src="{{ videoUrl }}">
                    <div class="content-wrapper">
                        <button class="video-ctl paused"></button>
                    </div>
                </div>    
                {%- endif -%}
            </div>
            {%- endif -%}
            {%- endunless -%}
        </div>
    </div>
</div>