<div class="collection-nav-block mode">
    <button type="button" name="mode-switcher" class="mode-switcher large active" data-mode="large" aria-label="{{ 'collections.mode.large' | t }}">
        <span></span><span></span><span></span><span></span>
    </button>
    <button type="button" name="mode-switcher" class="mode-switcher small" data-mode="small" aria-label="{{ 'collections.mode.small' | t }}">
        <span></span><span></span>
    </button>
</div>

<div class="collection-nav-block sorting nav-dropdown">
    <button type="button" class="nav-title nav-dropdown-title">{{ 'collections.sorting.title' | t }}</button>
    <div class="nav-content nav-dropdown-content">
        <div class="nav-list-container">
            {% comment %}
            <button type="button" data-link="manual" class="filter"><span>{{ 'collections.sorting.featured' | t }}</span></button>
            {% endcomment %}
            <button type="button" data-link="best-selling" class="filter"><span>{{ 'collections.sorting.best_selling' | t }}</span></button>
            <button type="button" data-link="created-descending" class="filter"><span>{{ 'collections.sorting.date_descending' | t }}</span></button>
            <button type="button" data-link="price-ascending" class="filter"><span>{{ 'collections.sorting.price_ascending' | t }}</span></button>
            <button type="button" data-link="price-descending" class="filter"><span>{{ 'collections.sorting.price_descending' | t }}</span></button>
            {% comment %}
            <button type="button" data-link="created-ascending" class="filter"><span>{{ 'collections.sorting.date_ascending' | t }}</span></button>
            <button type="button" data-link="title-ascending" class="filter"><span>{{ 'collections.sorting.az' | t }}</span></button>
            <button type="button" data-link="title-descending" class="filter"><span>{{ 'collections.sorting.za' | t }}</span></button>
            {% endcomment %}
        </div>
    </div>
</div>

{% comment %}
  Toggle between collection.liquid and collection.list.liquid with the
  ?view= parameter.

<div class="form-horizontal">
  <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
  <select name="SortBy" id="SortBy">
    <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
    <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
    <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
  </select>
</div>


<div class="collection-view">
  <button type="button" title="{{ 'collections.general.grid_view' | t }}" class="change-view{% unless template contains 'list' %} change-view--active{% endunless %}" data-view="grid">
    <span class="icon-fallback-text">
      <span class="icon icon-grid-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.grid_view' | t }}</span>
    </span>
  </button>
  <button type="button" title="{{ 'collections.general.list_view' | t }}" class="change-view{% if template contains 'list' %} change-view--active{% endif %}" data-view="list">
    <span class="icon-fallback-text">
      <span class="icon icon-list-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.list_view' | t }}</span>
    </span>
  </button>
</div>
{% endcomment %}


