<form action="{{ routes.search_url }}" method="get" role="search" class="search-form">
    {% comment %}
        <!-- Uncomment to search products only. -->
        <!-- <input type="hidden" name="type" value="product"> -->
    {% endcomment %}
    <input type="search" name="q" id="{{ search_form_id }}"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn">
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
</form>