
    {%- assign background_image = collection.metafields["custom_fields"]["collection_reviews_image"] -%}
    {%- assign reviews_title = collection.metafields["custom_fields"]["collection_reviews_title"] -%}
    {%- assign collection_review_1 = collection.metafields["custom_fields"]["collection_review_1"] -%}
    {%- assign collection_review_2 = collection.metafields["custom_fields"]["collection_review_2"] -%}
    {%- assign collection_review_3 = collection.metafields["custom_fields"]["collection_review_3"] -%}
    {%- assign collection_review_4 = collection.metafields["custom_fields"]["collection_review_4"] -%}


    {%- if background_image and reviews_title -%}

    <div class="collection-reviews-module ">

        {{ background_image }}
        <span class="module-title">{{ reviews_title }}</span>

        <div class="reviews-slides slick">

        {%- if collection_review_1 -%}
        <div class="slide review-1" data-product-index="{{ forloop.index }}">
            <div class="review-inner">
                {{ collection_review_1 }}
            </div>
        </div>    
        {%- endif -%}

        {%- if collection_review_1 -%}
        <div class="slide review-2" data-product-index="{{ forloop.index }}">
            <div class="review-inner">
                {{ collection_review_2 }}
            </div>
        </div>    
        {%- endif -%}

        {%- if collection_review_3 -%}
        <div class="slide review-3" data-product-index="{{ forloop.index }}">
            <div class="review-inner">
                {{ collection_review_3 }}
            </div>
        </div>    
        {%- endif -%}

        {%- if collection_review_4 -%}
        <div class="slide review-4" data-product-index="{{ forloop.index }}">
            <div class="review-inner">
                {{ collection_review_4 }}
            </div>
        </div>    
        {%- endif -%}

        </div>

    </div>
 
    {%- endif -%}
    
