{% if settings.promo_banner_active_from %}
    {% assign pastDate = settings.promo_banner_active_from | append: ' T00:00:00Z' | date: '%s' %}
{% else %}
    {% assign pastDate = 'now' | minus: 1 | date: '%s' %}
{% endif %}

{% if settings.promo_banner_active_to %}
    {% assign futureDate = settings.promo_banner_active_to | append: ' T23:59:59Z' | date: '%s' %}
{% else %}
    {% assign futureDate = 'now' | plus: 1 | date: '%s' %}
{% endif %}

{% assign currentDate = 'now' | date: '%s' %}

{% if settings.promo_banner_background != blank and settings.promo_banner_background != 'rgba(0,0,0,0)' %}
    {% assign bannerBackground = settings.promo_banner_background %}
    <style>
        .promo-banner {
            background: {{bannerBackground}};
        }
    </style>
{% endif %}

{% if settings.promo_banner_color != blank and settings.promo_banner_color != 'rgba(0,0,0,0)' %}
    {% assign bannerColor = settings.promo_banner_color %}
    <style>
        .promo-text-wrapper {
            color: {{bannerColor}};
        }
    </style>
{% endif %}



{% comment %}
<!-- Promo Banner debug: -->
<!-- {{currentDate}} -->
<!-- {{pastDate}} -->
<!-- {{futureDate}} -->
<!-- {{settings.promo_banner_show}} -->
<!-- {{settings.promo_banner_text}} -->
{% endcomment %}

{% if settings.promo_banner_text !="" and settings.promo_banner_show == 'enable' and currentDate > pastDate and currentDate < futureDate %}
    <div class="promo-banner"
        data-days="{{ cookieDays }}" 
        data-cookieenabled="{{ settings.promo_banner_cookieenable }}" 
    >
        <div class="promo-text-wrapper">
            {% if settings.promo_banner_link %}
            <a href="{{settings.promo_banner_link}}" title="Visit {{settings.promo_banner_text}}">
            {% endif %}
                {{ settings.promo_banner_text }}
            {% if settings.promo_banner_link %}
            </a>
            {% endif %}
        </div>
        <div class="hidden promo-banner-modal-headline">{{ settings.promo_banner_modal_headline }}</div>
        <div class="hidden promo-banner-modal-text">{{ settings.promo_banner_modal_text }}</div>
    </div>
{% endif %}

{% comment %}
<!-- Promo Banner End -->
{% endcomment %}