<div id="SubscribeModal" class="drawer drawer-bottom">
    <button class="drawer-close" type="button"><span class="visually-hidden">{{ 'general.accessibility.close_drawer' | t }}</span></button>
    <div class="subscribe-modal" 
        data-type="{{ settings.sub_modal_type }}"
        data-errormsg="{{ settings.sub_modal_errormsg }}" 
        data-successmsg="{{ settings.sub_modal_successmsg }}" 
        data-requiredmsg="{{ settings.sub_modal_requiredmsg }}" 
        data-erroremail="{{ settings.sub_modal_erroremail }}" 
        data-delay="{{ settings.sub_modal_delay }}" 
        data-days="{{ settings.sub_modal_cookiedays }}" 
        data-enabled="{{ settings.sub_modal_enable }}"
        data-cookieenabled="{{ settings.sub_modal_cookieenable }}" >
        <div class="form-container">
            <p class="sub-promo">{{ settings.sub_modal_promo }}</p>
            
            {%- if settings.sub_modal_type == 'mailchimp' -%}
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                {% assign actionLink = settings.sub_modal_mc_action | replace: 'post?', 'post-json?'  | append: '&c=?' %}
                <form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" 
                    action="{{ actionLink }}"
                    method="GET" target="_blank" novalidate>
                    <div class="hide" aria-hidden="true"><input type="text" name="b_2b2ed5dbc045e8d75f2ca66f2_193efbf7d9" tabindex="-1" value=""></div>
                    <div class="group group-fname">
                        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="First Name">
                        <span class="error-msg"></span>
                    </div>
                    <div class="group group-lname">
                        <input type="text" value="" name="LNAME" class="required" id="mce-LNAME" placeholder="Last Name">
                        <span class="error-msg"></span>
                    </div>
                    <div class="group group-email">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
                        <span class="error-msg"></span>
                    </div>
                    <button type="submit" class="submit" id="mc-embedded-subscribe">
                        <span class="visually-hidden icon-fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                </form>
                <p class="global-message"></p>
            </div>
            <!-- End MailChimp Signup Form -->
            {%- elsif settings.sub_modal_type == 'klaviyo' -%}
            <!-- Begin Klaviyo Signup Form -->
            <div id="kv_embed_signup">
                {% assign listId = settings.sub_modal_kv_action %}
                <form id="kv_email_signup" class="validate klaviyo_styling klaviyo_gdpr_embed_{{ listId }}" 
                    action="//manage.kmail-lists.com/ajax/subscriptions/subscribe"
                    data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" 
                    method="GET" target="_blank" novalidate="novalidate" >
                    <div class="hide" aria-hidden="true">
                        <input type="hidden" name="g" value="{{ listId }}">
                        <input type="hidden" name="$fields" value="$consent">
                        <input type="hidden" name="$list_fields" value="$consent">
                    </div>
                    <div class="group group-fname">
                        <input class="required" type="text" value="" name="$first_name" placeholder="First Name" />
                        <span class="error-msg"></span>
                    </div>
                    <div class="group group-lname">
                        <input class="required" type="text" value="" name="$last_name" placeholder="Last Name" />
                        <span class="error-msg"></span>
                    </div>
                    <div class="group group-email">
                        <input class="required email" type="email" value="" name="email" placeholder="Email Address" />
                        <span class="error-msg"></span>
                    </div>
                    <button type="submit" class="submit">
                        <span class="visually-hidden klaviyo_submit_button icon-fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                    <div class="klaviyo_messages">
                        <div class="success_message" style="display:none;"></div>
                        <div class="error_message" style="display:none;"></div>
                    </div>
                </form>
                <p class="global-message"></p>    
            </div>
            <!-- End Klaviyo Signup Form -->
            {%- endif -%}
            
            <button class="close" type="button"><span class="visually-hidden">{{ 'general.accessibility.close_drawer' | t }}</span></button>
        </div>
    </div>
</div>