{% schema %}
{
    "name": "Multisection Module 7",
    "max_blocks": 2,
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "video_url",
            "id": "video_url",
            "accept": ["youtube", "vimeo"],
            "label": "Video URL",
            "info": "Add either youtube or vimeo direct video"
        },
        {
            "type": "text",
            "id": "headline",
            "label": "Headline Text"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Body Text"
        },
        {
            "type": "text",
            "id": "cta",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "link",
            "label": "CTA Link"
        },
        {
            "type": "checkbox",
            "id": "flip_content",
            "default": false,
            "label": "Flip Content",
            "info": "Flip positions of the module components"
        }
    ],
    "presets": [
        {
            "name": "Multisection Module 7",
            "category": "Additional Content",
            "settings": {

            }
        }
    ]
}
{% endschema %}


    <section class="multisection-module multisection-module-7 {% if section.settings.flip_content%}flipped{% endif %}">

            <div class="header-block">
                {% if section.settings.headline != blank %}
                    <h2 class="headline title-font-4-light">{{ section.settings.headline }}</h2>
                {% endif %}
                {% if section.settings.description != blank %}
                    <p class="description body-font-1">{{ section.settings.description }}</p>
                {% endif %}
            </div>
        
            <div class="block-container">
    
                <div class="content-block">
                    <div class="video-content-wrapper">
                
                        {% if section.settings.video_url != blank or section.settings.image != blank %}
                            <div class="video-wrapper"
                                data-video-type="{{- section.settings.video_url.type -}}"
                                data-video-id="{{- section.settings.video_url.id -}}"
                                data-video-src="{{- section.settings.video_url -}}">
                                {% if section.settings.image != blank %}
                                <div class="video-poster">
                                    <span class="absolute-image desktop-image lazy" role="img" aria-label="{{ section.settings.image.alt }}" style="background-image:url('{{ section.settings.image | img_url: '1x' }}');" data-bg="{{ section.settings.image | img_url: '1200x' }}"></span>
                                    <span class="absolute-image mobile-image lazy" role="img" aria-label="{{ section.settings.image.alt }}" style="background-image:url('{{ section.settings.image | img_url: '1x' }}');" data-bg="{{ section.settings.image | img_url: '768x' }}"></span>
                                </div>
                                {% endif %}
                                {% if section.settings.video_url != blank %}
                                <div id="{{- section.settings.video_url.id -}}" class="video-player"></div>
                                    {% if section.settings.image != blank %}
                                    <button class="video-ctl paused"></button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if section.settings.cta != blank %}
                            <div class="cta-wrap">
                                <a href="{{ section.settings.link }}" class="cta-link-1"><span>{{ section.settings.cta }}</span></a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="product-block">
                    <div class="collection-products items">
                    {% for block in section.blocks %}
                        {% assign product = all_products[block.settings.product] %}
                        {% assign all_tags = product.tags | downcase %}
                        {% include 'product-grid-item', list_image_size: '500x' %}
                    {% endfor %}
                    </div>
                </div>

            </div>


    </section>
