<footer class="site-footer" role="contentinfo">
    
    {% if settings.custom_footer_code != blank %}
        {{ settings.custom_footer_code }}
    {% endif %}

    <div class="footer-part footer-top">
        <div class="footer-wrapper">
            {%- section 'footer-banner' -%}
        </div>
    </div>
    
    <div class="footer-part footer-main">
        <div class="footer-wrapper">
            <div class="footer-left">
                <div class="footer-part footer-subscription">
                    {% form 'customer' %}
                        <p class="footer-block newsletter-title">{{ 'general.newsletter_form.title' | t }}</p>
                        <p class="footer-block newsletter-desc">
                            {% if form.posted_successfully?  %}
                                {{ 'general.newsletter_form.confirmation' | t }}
                            {%- else -%}
                                {{ 'general.newsletter_form.description' | t }}
                            {% endif %}
                        </p>
                        <div class="footer-block newsletter footer-newsletter">
                            <input type="hidden" name="contact[tags]" value="newsletter,footer">
                            <div class="input-wrapper input-wrapper-newsletter group group-email {% if form.posted_successfully? %}posted{% endif %}">
                                <label for="Email">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                                <input 
                                    id="Email" 
                                    class="required email"
                                    type="email" 
                                    name="contact[email]" 
                                    aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}"
                                    value="{% if customer %}{{ customer.email }}{% endif %}" 
                                    autocorrect="off" 
                                    autocapitalize="off" >
                                <p class="footer-block newsletter-agreement">{{ 'general.newsletter_form.agreement_html' | t }}</p>
                                <button type="submit" class="cta-2">
                                    {{ 'general.newsletter_form.submit' | t }}
                                </button>
                                <span class="error-msg">{{ form.errors | default_errors }}</span>
                            </div>
                        </div>
                    {% endform %}
                </div>
                <div class="footer-block social-wrapper">
                    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                    {% for social in social_accounts %}
                        {%- assign social_handle = social | handleize -%}
                        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                        {% if settings[social_link] != blank %}
                            <a href="{{ settings[social_link] }}" target="_blank" class="icon-{{ social_handle }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                                <span class="icon-fallback-text hidden">{{ social }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="footer-block footer-address">
                    <span>CELLAP LABORATORY AMERICAS INC.</span>
                    <span>217 W 18th Street Suite 965</span>
                    <span>New York, NY 10113</span>
                    <span>USA</span>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-part footer-mega">
                    <div class="footer-wrapper">
                        {%- assign footer_mega_linklist = settings.footer_mega_linklist -%}
                        {% if linklists[footer_mega_linklist].links.size > 0 %}
                        <div class="footer-block link-wrapper">
                            {% for link in linklists[footer_mega_linklist].links %}
                            {%- if link.levels > 0 -%}
                            {% assign linkTitle = link.title | downcase %}
                            <div class="link-block">
                                <p class="link-title">{{ link.title }}</p>
                                {% for sublink in link.links %}
                                {%- if sublink.url == '/' -%}
                                <p class="info">{{ sublink.title }}</p>
                                {%- else -%}
                                <a class="link" href="{{ sublink.url }}">{{ sublink.title }}</a>
                                {%- endif -%}
                                {% endfor %}
                            </div>
                            {%- endif -%}
                            {% endfor %}    
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-part footer-slim">
        <div class="footer-wrapper">
            <div class="footer-block link-wrapper">
                <div>
                    {%- assign footer_slim_linklist = settings.footer_slim_linklist -%}
                    {% if linklists[footer_slim_linklist].links.size > 0 %}
                    {% for link in linklists[footer_slim_linklist].links %}
                    <a class="link" href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <p class="info">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }} - {{ 'layout.footer.copyright_rights' | t }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>