{%- if review_widget == 'badge' -%}
    <div class="product-core-block block-review-rate" >
    {%- if settings.review_type == "shopify" -%}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    {%- elsif settings.review_type == "yotpo" -%}
        <div class="yotpo bottomLine"
            data-appkey="{{settings.yotpo_api_key}}"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product.id }}"
            data-product-models="{{ product.id }}"
            data-name="{{ product.title | escape }}"
            data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}"
            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div>
    {%- endif -%}
    </div>
{%- elsif review_widget == 'reviews' -%}
    <div class="review-container">
    {%- if settings.review_type == 'shopify' -%}
        <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
    {%- elsif settings.review_type == 'yotpo' -%}
        {% assign yp_product_image = product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26' %}
        <div id="yotpo-product-reviews" class="yotpo yotpo-main-widget" 
            data-product-id="{{ product.id }}" 
            data-name="{{ product.title | escape }}" 
            data-url="{{ shop.url }}{{ product.url }}" 
            data-image-url="{{ yp_product_image }}" 
            data-description="{{ product.description | escape }}">
        </div>    
    {%- endif -%}
    </div>    
{%- endif -%}
