{% schema %}
{
    
    "name": "About Module G",
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
        },
        {
            "type": "radio",
            "options": [
                { "value": "style-light", "label": "Light" },
                { "value": "style-dark", "label": "Dark" }
            ],
            "default": "style-dark",
            "id": "text_color",
            "label": "Font Color"
        },
        {
            "type": "text",
            "id": "cta",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "link",
            "label": "CTA Link"
        },
        {
            "type": "radio",
            "options": [
                { "value": "text-left", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-right", "label": "Right" }
            ],
            "default": "text-center",
            "id": "text_align",
            "label": "Text Alignment"
        }
    ],
    "presets": [
        {
            "name": "About Module G",
            "settings": {}
        }
    ]
}
{% endschema %}

<div class="about-module about-module-g" style="background-color: {{section.settings.bg_color}}"> 
    <div class="inner-wrapper {{section.settings.text_align}}">
        <h2 class="headline {{ section.settings.text_color }}">{{section.settings.headline}}</h2>
        <div class="cta-wrap">
            <a href="{{section.settings.link}}" class="{% if section.settings.text_color == 'style-light' %}cta-link-2{% else %}cta-link-1{% endif %} {{section.settings.text_align}}"><span>{{section.settings.cta}}</span></a>
        </div>
    </div>
</div>