{% schema %}
{
    
    "name": "About Module D",
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline"
        },
        {
            "type": "textarea",
            "id": "subheadline",
            "label": "Subheadline"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "flip_content",
            "default": false,
            "label": "Flip Content",
            "info": "Flip positions of the module components"
        }
    ],
    "presets": [
        {
            "name": "About Module D",
            "settings": {}
        }
    ]
}
{% endschema %}

<div class="about-module about-module-d {% if section.settings.flip_content%}flipped{% endif %}"> 
    <div class="image-wrapper">
        <picture>
            <source srcset="{{section.settings.image | img_url: '1024x' }}" media="(max-width: 767px)">
            <source srcset="{{section.settings.image | img_url: '1500x' }}">
            <img srcset="{{section.settings.image_desktop | img_url: '1500x' }}" alt="{{section.settings.image_desktop.alt}}">
        </picture>
    </div>
    <div class="text-wrapper">
        <h2 class="headline">{{section.settings.headline}}</h2>
        <p class="subheadline">{{section.settings.subheadline}}</p>
    </div>
</div>