{% schema %}
    {
        "name": "Homepage Module I",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_a",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "headline",
                "label": "Headline Text"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Content"
            },
            {
                "type": "radio",
                "options": [
                    { "value": "theme-light", "label": "Black Text" },
                    { "value": "theme-dark", "label": "White Text" }
                ],
                "default": "theme-dark",
                "id": "theme",
                "label": "Text Color. Only applies to desktop."
            },
            {
                "type": "video_url",
                "id": "video_url",
                "accept": ["youtube", "vimeo"],
                "label": "Video URL",
                "info": "Add either youtube or vimeo direct video"
            }
        ],
        "presets": [
            {
                "name": "Homepage Module I",
                "category": "Homepage",
                "settings": {
    
                }
            }
        ]
    }
    {% endschema %}
    
    {% if section.settings.image_a != blank %}
    
        <section class="hpmodule hp-module-i">
    
            <div class="block-container {{ section.settings.theme }}">
    
                <span class="absolute-image mobile-image lazy" role="img" aria-label="{{ section.settings.image_a.alt }}" style="background-image:url('{{ section.settings.image_a | img_url: '1x' }}');" data-bg="{{ section.settings.image_a | img_url: '768x' }}"></span>
                {% if section.settings.video_url != blank %}
                    <div class="video-wrapper"
                        data-video-type="{{- section.settings.video_url.type -}}"
                        data-video-id="{{- section.settings.video_url.id -}}"
                        data-video-src="{{- section.settings.video_url -}}">
                        <div class="video-poster">
                            <span class="absolute-image desktop-image lazy" role="img" aria-label="{{ section.settings.image_a.alt }}" style="background-image:url('{{ section.settings.image_a | img_url: '1x' }}');" data-bg="{{ section.settings.image_a | img_url: '1200x' }}"></span>
                            <span class="absolute-image mobile-image lazy" role="img" aria-label="{{ section.settings.image_a.alt }}" style="background-image:url('{{ section.settings.image_a | img_url: '1x' }}');" data-bg="{{ section.settings.image_a | img_url: '768x' }}"></span>
                        </div>
                        <div id="{{- section.settings.video_url.id -}}" class="video-player"></div>
                        <button class="video-ctl paused"></button>
                    </div>
                {% endif %}
                
                {% comment %} Add .bottom to .inner-wrapper to push text to bottom of container {% endcomment %}
                <div class="inner-wrapper bottom">
                    {% if section.settings.headline != blank %}
                        <h2 class="headline title-font-4-light">{{ section.settings.headline }}</h2>
                    {% endif %}
                    {% if section.settings.content != blank %}
                        <div class="content body-font-1 rte">{{ section.settings.content }}</div>
                    {% endif %}
                </div>
            </div>
    
        </section>
    
    {% endif %}
    