{% schema %}
{
    "name": "Homepage Module G",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_a",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Background Image Mobile"
        },
        {
            "type": "text",
            "id": "headline",
            "label": "Headline Text"
        },
        {
            "type": "richtext",
            "id": "copy",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "cta",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "link",
            "label": "CTA Link"
        },
        {
            "type": "radio",
            "options": [
                { "value": "theme-light", "label": "Black Text" },
                { "value": "theme-dark", "label": "White Text" }
            ],
            "default": "theme-light",
            "id": "theme",
            "label": "Text Color"
        }
    ],
    "presets": [
        {
            "name": "Homepage Module G",
            "category": "Homepage",
            "settings": {

            }
        }
    ]
}
{% endschema %}

{% if section.settings.image_a != blank %}

    <section class="hpmodule hp-module-g">

        <div class="block-container {{ section.settings.theme }}">

            <div class="image-wrap">

                {%- include 'responsive-image-lazy',
                    image: section.settings.image_a,
                    imageSmall: section.settings.image_mobile,
                    alt: section.settings.image_a.alt,
                    size: '1024x',
                    sizeMedium: '1024x',
                    sizeSmall: '1024x',
                    heightFix: true,
                -%}
            
            </div>
            
            {% comment %} Add .bottom to .inner-wrapper to push text to bottom of container {% endcomment %}
            <div class="inner-wrapper {{ section.settings.text_position }}">
                {% if section.settings.headline != blank %}
                    <h2 class="headline title-font-4">{{ section.settings.headline }}</h2>
                {% endif %}
                {% if section.settings.copy != blank %}
                    <div class="content body-font-1 rte">{{ section.settings.copy }}</div>
                {% endif %}
                {% if section.settings.cta != blank %}
                    <div class="cta-wrap">
                        <a href="{{ section.settings.link }}" class="cta-2"><span>{{ section.settings.cta }}</span></a>
                    </div>
                {% endif %}
            </div>
        </div>

    </section>

{% endif %}