{% schema %}
{
    "name": "Multisection Module 2",
    "max_blocks": 6,
    "blocks": [
        {
            "type": "slide",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline Text"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Body Text"
        },
        {
            "type": "image_picker",
            "id": "main_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "image_subheadline",
            "label": "Image Subheadline Text"
        },
        {
            "type": "text",
            "id": "image_headline",
            "label": "Image Headline Text"
        },
        {
            "type": "textarea",
            "id": "image_description",
            "label": "Image Body Text"
        },
        {
            "type": "checkbox",
            "id": "flip_content",
            "default": false,
            "label": "Flip Content",
            "info": "Flip positions of the module components"
        }
    ],
    "presets": [
        {
            "name": "Multisection Module 2",
            "category": "Additional Content",
            "settings": {

            }
        }
    ]
}
{% endschema %}


    <section class="multisection-module multisection-module-2 {% if section.settings.flip_content%}flipped{% endif %}">

            <div class="block-container">
                
                <div class="slider-block">
                    <div class="text-content">
                        {% if section.settings.headline != blank %}
                            <h3 class="headline title-font-4-light">{{ section.settings.headline }}</h3>
                        {% endif %}
                        {% if section.settings.description != blank %}
                            <p class="description body-font-1">{{ section.settings.description }}</p>
                        {% endif %}
                    </div>
                    <div class="slider {% if section.blocks.size > 1 %}slick{% endif %}">
                        {% for block in section.blocks %}
                        <div class="image-slide">
                        {%- include 'responsive-image-lazy',
                            image: block.settings.image,
                            imageSmall: block.settings.image,
                            alt: block.settings.image.alt,
                            size: '300x',
                            sizeMedium: '300x',
                            sizeSmall: '300x',
                            heightFix: true,
                        -%}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="image-block">
                    <img class="main-image" alt="{{ section.settings.main_image.alt }}" src="{{ section.settings.main_image | img_url: '600x' }}">
                    {% if section.settings.image_subheadline != blank or section.settings.image_headline != blank or section.settings.image_description != blank %}
                    <div class="text-content">
                        {% if section.settings.image_subheadline != blank %}
                            <h4 class="image-subheadline title-font-7">{{ section.settings.image_subheadline }}</h4>
                        {% endif %}
                        {% if section.settings.image_headline != blank %}
                            <h3 class="image-headline body-font-2">{{ section.settings.image_headline }}</h3>
                        {% endif %}
                        {% if section.settings.image_description != blank %}
                            <p class="description body-font-1">{{ section.settings.image_description }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

            </div>

    </section>
