<script type="text/javascript">
    Shopify.queryParams = {};
    Shopify.collectionHandle = '';
</script>

{% assign plp_pagination = settings.collection_pagination %}

{%- assign plp_layout = 'one-column' -%}
{%- assign plp_quickbuy = false -%}
{%- assign plp_quickshop = false -%}
{% assign list_image_size = '600x' %}

<div class="search-results product-collection {{ plp_layout }}" 
    data-layout="{{ plp_layout }}"
    data-url=""
    data-quickbuy="{%- if plp_quickbuy -%}true{%- endif -%}" 
    data-quickshop="{%- if plp_quickshop -%}true{%- endif -%}" >
    {% paginate search.results by plp_pagination %}

    <div class="search-results-banner {% if search.results_count == 0 %}no-result{% endif %}">
        <div class="search-results-banner-inner">
            <h1 class="search-results-title">
                {% if search.performed %}
                    {% if search.results_count == 0 %}
                    {{ 'general.search.no_results_html' | t }}
                    {% else %}
                    {{ 'general.search.results_for_html' | t: counts: search.results_count }}
                    {% endif %}
                {% else %}
                    {{ 'general.search.title' | t }}
                {% endif %}
            </h1>
            {% if search.performed %}
            <h2 class="search-results-description">
                {{ 'general.search.description_html' | t: terms: search.terms }}
            </h2>
            {% endif %}
        </div>
        {% comment %}
        {% include 'predictive-search-form', search_form_id: 'SearchResult' %}
        {% endcomment %}
    </div>
    
    {% if search.performed and search.results_count != 0 %}

        <div class="collection-nav">
            {% if search.results_count > 0 %}
            <span class="item-count">{{ search.results_count }} Item{% if search.results_count > 1 %}s{% endif %}</span>
            {% endif %}
            <div class="tools">
                {% include 'collection-tools', layout: layout %}
            </div>
        </div>
        
        <div class="collection-listing-wrapper">
            <div class="collection-products items" data-ga-id="search-{{ search.terms | handleize }}" data-ga-name="Search Results">
                {% for product in search.results %}
                    {% include 'product-grid-item' %}
                {%- else -%}
                    <div class="collection-empty"><p>{{ 'collections.general.no_matches' | t }}</p></div>
                {%- endfor -%}
            </div>
        </div>
        {% if paginate.pages > 1 %}
            {% include 'pagination' %}
        {% endif %}
    {% endif %}
    
    {% endpaginate %}
</div>