{%- comment -%}
<!--
This is the default split(50:50) product layout 
-->
{%- endcomment -%}

{%- include 'vip-restriction' -%}
{% assign isVipBlocked = false %}
{%- for tag in product.tags -%}
    {%- if settings.vip_product_tags contains tag -%}
        {%- unless isVIP -%}
            {% assign isVipBlocked = true %}
        {%- endunless -%}
    {%- endif -%}
{%- endfor -%}

{%- if isVipBlocked -%}
    {%- include 'vip-restriction-blocker' -%}
{%- else -%}
    {%- include 'product-core-data', product: product -%}

    {%- assign pdp_layout = 'scrolling' -%}
    {%- assign metaFields_layout = 'tab' -%}
    {%- assign renderReviewsInTab = true -%}
    {%- assign pdp_layout_scrolling_grid = 'scrolling-grid' -%}

    {%- unless settings.enable_review -%}
        {% assign renderReviewsInTab = false %}
    {%- endunless -%}

    {%- unless pdp_layout == 'scrolling' -%}
        {% assign pdp_layout_scrolling_grid = '' %}
    {%- endunless -%}

    {%- if isGiftCard -%}
        {% assign pdp_layout = 'slider' %}
    {%- endif -%}

    {%- include 'breadcrumb' -%}

    <div itemscope itemtype="http://schema.org/Product">
        <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
        <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
        <meta itemprop="brand" content="{{ product.vendor }}">
        <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
        <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
        <div class="product-detail-container {% if isGiftCard != blank %}{{ isGiftCard }}{% else %}{{ pdp_layout_scrolling_grid }}{% endif %}" data-layout="{{ pdp_layout }}">
            
            {%- include 'product-media', product: product, current_variant: current_variant, featured_image: featured_image, layout: pdp_layout -%}
            
            {%- include 'product-core', product: product, current_variant: current_variant, featured_image: featured_image, layout: pdp_layout -%}
        
            <div class="scrolling-fix-stopper"></div>
        
            <div class="product-extra">
                {%- include 'product-content-video' -%}
                
                {%- include 'product-metafield', product: product, layout: metaFields_layout, with_reviews: renderReviewsInTab, with_static: true -%}
                
                {%- if settings.enable_review and renderReviewsInTab == false -%}
                {%- include 'product-reviews', review_widget: 'reviews' -%}
                {%- endif -%}
            </div>
            
            <div class="product-recommend">
                {%- include 'product-recommended' -%}
            </div>
            
        </div>
    </div>

    {%- include 'product-size-chart' -%}
{%- endif -%}