<script type="text/javascript">
    Shopify.queryParams = {};
    Shopify.collectionHandle = '';
</script>
{% assign plp_pagination = settings.collection_pagination %}
{% comment %}
    plp_layout: Collection Layout, take options 'one-column' or 'two-columns'
    plp_banner_layoutL Collection banner Layout, take options 'full' or 'split'
    plp_quickbuy: In grid quickshop, no ajax request.
    plp_quickshop: In modal quickshop, done via ajax request.
{% endcomment %}
{%- assign plp_layout = 'one-column' -%}
{%- assign plp_quickbuy = false -%}
{%- assign plp_quickshop = true -%}
{% assign list_image_size = '600x' %}

<div class="search-results product-collection {{ plp_layout }}" 
    data-layout="{{ plp_layout }}"
    data-url=""
    data-quickbuy="{%- if plp_quickbuy -%}true{%- endif -%}" 
    data-quickshop="{%- if plp_quickshop -%}true{%- endif -%}" >
    {% paginate search.results by plp_pagination %}

    <div class="search-results-banner {% if search.results_count == 0 %}no-result{% endif %}">
        <h1 class="search-results-title">
            {% if search.performed %}
                {% if search.results_count == 0 %}
                {{ 'general.search.no_results_html' | t }}
                {% else %}
                {{ 'general.search.results_for_html' | t: counts: search.results_count }}
                {% endif %}
            {% else %}
                {{ 'general.search.title' | t }}
            {% endif %}
        </h1>
        {% if search.performed %}
        <h2 class="search-results-description">
            {{ 'general.search.description_html' | t: terms: search.terms }}
        </h2>
        {% endif %}
        {% include 'search-form', search_form_id: 'SearchResult' %}
    </div>
    
    {% if search.performed and search.results_count != 0 %}
        <div class="collection-nav tools">
            {% include 'collection-tools' %}
        </div>
        
        <div class="collection-listing-wrapper">
            <div class="collection-products items" data-ga-id="search-{{ search.terms | handleize }}" data-ga-name="Search Results">
                {% for product in search.results %}
                    {% include 'product-grid-item' %}
                {%- else -%}
                    <div class="collection-empty"><p>{{ 'collections.general.no_matches' | t }}</p></div>
                {%- endfor -%}
            </div>
        </div>
        {% if paginate.pages > 1 %}
            {% include 'pagination' %}
        {% endif %}
    {% endif %}
    
    {% endpaginate %}
</div>