{% schema %}
{
    "name": "Utility Contact Info",
    "blocks": [
        {
            "type": "info_block",
            "name": "Info Block",
            "settings": [
                {
                    "type": "radio",
                    "options": [
                        { "value": "info-tel", "label": "Telephone" },
                        { "value": "info-mail", "label": "Mailing" },
                        { "value": "info-email", "label": "E-Mail" }
                    ],
                    "id": "info_type",
                    "label": "Info Type"
                },
                {
                    "type": "text",
                    "id": "info_title",
                    "label": "Info Title"
                },
                {
                    "type": "text",
                    "id": "info_detail",
                    "label": "Info Details"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Utility Contact Info",
            "category": "Custom Content",
            "settings": {

            }
        }
    ]
}
{% endschema %}
<div class="utility-page {{ page.handle }}">
    {% comment %}
    <div class="utility-banner">
        <p class="utility-title">{{ settings.utility_title }}</p>
    </div>
    {% endcomment %}
    <div class="utility-nav">
        <div class="inner-wrapper links">
        {%- assign utility_nav_linklist = settings.utility_nav_linklist -%}
        {%- if linklists[utility_nav_linklist].links.size > 0 -%}
        
            {% assign navLinkHtml = '' %}
            {%- for link in linklists[utility_nav_linklist].links -%}
                {% if link.active %}
                    <span class="link select-link">{{ link.title }}</span>
                    {% assign activeLink = link %}
                {%- endif -%}
                
                {% capture navLinkHtmlItem %}
                    {%- if link.levels > 0 -%}
                    <div class="link-wrapper {% if link.active %}active{% endif %}">
                        <a class="link {% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                        <div class="sublinks {% if link.active %}active{% endif %}">
                        {% for sublink in link.links %}  
                            <a class="sublink" href="{{- link.url -}}#{{ sublink.title | handleize }}">{{ sublink.title }}</a>
                        {% endfor %}  
                        </div>
                    </div>
                    {%- else -%}
                    <a class="link {% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>    
                    {%- endif -%}
                {% endcapture %}
                {% assign navLinkHtml = navLinkHtml | append: navLinkHtmlItem %}
            {%- endfor -%}
    
            <div class="link-container">
                {{ navLinkHtml }}
            </div>
        {%- endif -%}    
        </div>
    </div>
    <div class="utility-content">
        <div class="inner-wrapper">
            <h1 class="utility-page-title">{{ page.title }}</h1>
            <h2 class="utility-section-title">{{ 'contact.form.title' | t }}</h2>
            <div class="contact-wrapper">
                {%- include 'contact-form' -%}
                <div class="contact-info">
                </div>                
            </div>
        </div>
</div>