<!doctype html>
<html class="no-js supports-no-cookies html-template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" lang="{{ shop.locale }}">
    <head>
        {% comment %}
            Meta tags
        {% endcomment %}
        {% include '1r-head-code' %}

        {% comment %}
            1R FE Framework including CSS and JS
        {% endcomment %}
        {% include '1r-framework' %}

        {% comment %}
          Template specific overides
        {% endcomment %}
        {{ content_for_header }}
    </head>
    <body class="template-giftcard" data-tempsuffix="{{ template.suffix }}">
        <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
        <header role="banner" class="giftcard-header">
            <div class="h1" itemscope itemtype="http://schema.org/Organization">
                <span class="screen-reader-text">{{- shop.name -}}</span>
                <a href="{{- shop.url -}}" itemprop="url" class="site-logo"></a>
            </div>
        </header>
        <main role="main" id="MainContent">
            {{ content_for_layout }}
        </main>
    </body>
</html>