{% schema %}
{
    "name": "Multisection Module 6",
    "max_blocks": 8,
    "blocks": [
        {
            "type": "accordion",
            "name": "Accordion",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "number",
                    "label": "Title Number"
                },
                {
                    "type": "text",
                    "id": "headline",
                    "label": "Headline Text"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Body Text"
                },
                {
                    "type": "text",
                    "id": "cta",
                    "label": "CTA Text"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "CTA Link"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "subheadline",
            "label": "Subheadline Text"
        },
        {
            "type": "text",
            "id": "headline",
            "label": "Headline Text"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Body Text"
        },
        {
            "type": "checkbox",
            "id": "flip_content",
            "default": false,
            "label": "Flip Content",
            "info": "Flip positions of the module components"
        }
    ],
    "presets": [
        {
            "name": "Multisection Module 6",
            "category": "Additional Content",
            "settings": {

            }
        }
    ]
}
{% endschema %}


    <section class="multisection-module multisection-module-6 {% if section.settings.flip_content%}flipped{% endif %}">

        
            <div class="block-container">

                <div class="image-block">
                    {%- include 'responsive-image-lazy',
                        image: section.settings.image,
                        imageSmall: section.settings.image,
                        alt: section.settings.image.alt,
                        size: '600x',
                        sizeMedium: '600x',
                        sizeSmall: '600x',
                        heightFix: true,
                    -%}

                </div>

                <div class="accordion-block">
                    {% if section.settings.subheadline != blank %}
                        <h4 class="subheadline body-font-5">{{ section.settings.subheadline }}</h4>
                    {% endif %}
                    {% if section.settings.headline != blank %}
                        <h3 class="headline title-font-4-light">{{ section.settings.headline }}</h3>
                    {% endif %}
                    {% if section.settings.description != blank %}
                        <p class="description body-font-1">{{ section.settings.description }}</p>
                    {% endif %}

                    {% assign counter = 0 %}
                    {% for block in section.blocks %}
                    <div class="accordion-container tab-accordion-system">
                        <div class="system {% if counter == 0 %}active{% endif %}">
                            <div class="system-title system-title-{{ counter }}" data-target="system-{{- counter -}}">
                                {% if block.settings.headline != blank %}
                                    <h3 class="number title-font-5-light">{{ block.settings.number }}</h3>
                                {% endif %}
                                {% if block.settings.description != blank %}
                                    <h4 class="title title-font-6">{{ block.settings.headline }}</h4>
                                {% endif %}
                            </div>
                            <div class="system-content" data-target="system-{{- counter -}}">
                                <div class="content-inner">
                                    <img class="accordion-image" alt="{{ block.settings.image.alt }}" src="{{ block.settings.image | img_url: '200x' }}">
                                    <div class="content">
                                        {% if block.settings.description != blank %}
                                            <p class="description body-font-2">{{ block.settings.description }}</p>
                                        {% endif %}
                                        {% if block.settings.cta != blank %}
                                            <div class="cta-wrap">
                                                <a href="{{ block.settings.link }}" class="cta-link-3"><span>{{ block.settings.cta }}</span></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% assign counter = counter | plus: 1 %}   
                    </div>

                    {% endfor %}
                </div>

            </div>


    </section>
