{%- assign isPasswordPage = true -%}

<!doctype html>
<html class="no-js supports-no-cookies html-template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" lang="{{ shop.locale }}">
	<head>
		{% comment %}
			Meta tags
		{% endcomment %}
		{% include '1r-head-code' %}

		{% comment %}
			1R FE Framework including CSS and JS
		{% endcomment %}
		{% include '1r-framework' %}

		{% comment %}
		  Template specific overides
		{% endcomment %}
		{{ content_for_header }}
	</head>
	<body class="template-password" data-tempsuffix="{{ template.suffix }}">
		<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
        <header role="banner" class="password-header">
            <div class="h1" itemscope itemtype="http://schema.org/Organization">
                <span class="screen-reader-text">{{- shop.name -}}</span>
                <a href="{{- shop.url -}}" itemprop="url" class="site-logo"></a>
            </div>
        </header>
		<main role="main" id="MainContent" {% if settings.password_background_image != blank %}style="background-image: url('{{ settings.password_background_image | img_url: '2048x' }}')"{% elsif settings.password_background_color != blank and settings.password_background_color != 'rgba(0,0,0,0)' %}style="background-color: {{ settings.password_background_color }}"{% endif %}>
			<div class="login-content">
				{{ content_for_layout }}
			</div>
		</main>
	</body>
</html>