{% schema %}
    {
        "name": "Product Metafields 2",
        "settings": [
            {
                "type": "text",
                "id": "headline",
                "label": "Headline Text",
                "default": "ACTIVE INGREDIENTS"
            }
        ],
        "presets": [
            {
                "name": "Product Metafields 2",
                "category": "Product",
                "settings": {
    
                }
            }
        ]
    }
    {% endschema %}

{% assign fullIngredients =  product.metafields["custom_fields"]["full-ingredients"] %}

<section class="product-metafields-2">
    <div class="container">
        <div class="inner-wrapper">
            {% if section.settings.headline != blank %}
                <h2 class="headline title-font-4-light">{{ section.settings.headline }}</h2>
            {% endif %}
            {% comment %}
            {% if section.settings.cta != blank %}
                <div class="cta-wrap full-ingredients-trigger">
                    <div class="cta-2"><span>{{ section.settings.cta }}</span></div>
                </div>
                <div id="FullIngredientsModal" class="modal full-ingredients" role="dialog">
                    {{ fullIngredients }}
                </div>
            {% endif %}
            {% endcomment %}
            {% include 'clearforme-snippet' %}
        </div>
        <div class="blocks">
            <div class="blocks-wrapper">
            {% for i in (1..12) %}
                {% assign iteration = forloop.index %}
                {% assign titleIteration = "active-ingredient-header-" | append: iteration %}
                {% assign textIteration = "active-ingredient-body-" | append: iteration %}
                {% assign imageIteration = "active-ingredient-image-" | append: iteration %}
                {% assign titleTab = product.metafields["custom_fields"][titleIteration] %}
                {% assign textTab = product.metafields["custom_fields"][textIteration] %}
                {% if forloop.first and textTab == blank  %}            
                    {% assign textTab =  product.metafields["custom_fields"]["active-ingredient-body-1_"] %}
                {% endif %}
                {% assign imageTab = product.metafields["custom_fields"][imageIteration] %}
                
                {% if titleTab == blank %}
                    {% break %}
                {% else %}

                <div class="block">
                    {%- include 'responsive-image',
                        image: product.metafields["custom_fields"][imageIteration].value | image_tag,
                        imageSmall: product.metafields["custom_fields"][imageIteration].value | image_tag,
                        alt: '{{ titleTab }}',
                        size: '768x',
                        sizeMedium: '768x',
                        sizeSmall: '768x',
                        heightFix: false,
                    -%}  
                    <h5 class="title-font-6-light">{{ titleTab }}</h5>
                    <div class="body-font-1">{{ textTab }}</div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>