{% schema %}
{
    "name": "PDP Static Content",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable PDP Static Content",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "d_content",
            "name": "This Pair",
            "limit": 6,
            "settings": [
                {
                    "type": "text",
                    "id": "product_type_id",
                    "label": "Unique ID for a product type"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title_1",
                    "label": "Section title 1"
                },
                {
                    "type": "text",
                    "id": "content_1",
                    "label": "Section content 1"
                },
                {
                    "type": "text",
                    "id": "title_2",
                    "label": "Section title 2"
                },
                {
                    "type": "text",
                    "id": "content_2",
                    "label": "Section content 2"
                }
            ]
        },
        {
            "type": "s_content",
            "name": "Every Pair",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title_1",
                    "label": "Section title 1"
                },
                {
                    "type": "text",
                    "id": "content_1",
                    "label": "Section content 1"
                },
                {
                    "type": "text",
                    "id": "title_2",
                    "label": "Section title 2"
                },
                {
                    "type": "text",
                    "id": "content_2",
                    "label": "Section content 2"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Promo Banner",
            "category": "Collection",
            "settings": {

            }
        }
    ]
}
{% endschema %}

{%- if section.settings.enable -%}
<div class="product-static-content">
    {%- for block in section.blocks -%}
    {% comment %}
    Add condition logic here to output block based on it's type's association to product tag/type
    {% endcomment %}
    <div class="block-wrapper {{ block.type }}" data-product-type="{{- block.settings.product_type_id | handleize -}}">
        <div class="text-box">
            {%- if block.type == 'd_content' -%}
            <p class="title">Technology In <span>This</span> Pair</p>
            {%- elsif block.type == 's_content' -%}
            <p class="title">Technology In <span>Every</span> Pair</p>
            {%- endif -%}
            
            {%- if block.settings.title_1 != blank -%}
            <p class="subtitle">{{ block.settings.title_1 }}</p>
            <p class="content">{{ block.settings.content_1 }}</p>
            {%- endif -%}
            
            {%- if block.settings.title_2 != blank -%}
            <p class="subtitle">{{ block.settings.title_2 }}</p>
            <p class="content">{{ block.settings.content_2 }}</p>
            {%- endif -%}
        </div>
        <div class="image-box">
            <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}" />
        </div>
    </div>
    {%- endfor -%}
</div>
{%- endif -%}
