{% schema %}
{
    "name": "Collection Promo Banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable Promo",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "p_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "p_title",
            "label": "Promo Title"
        },
        {
            "type": "text",
            "id": "p_content",
            "label": "Promo Content"
        },
        {
            "type": "url",
            "id": "p_link",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "p_cta",
            "label": "CTA",
            "default": "View Collection"
        }
    ],
    
    "presets": [
        {
            "name": "Collection Promo Banner",
            "category": "Collection",
            "settings": {

            }
        }
    ]
}
{% endschema %}

{%- if section.settings.enable -%}
    <a class="collection-promo" href="{{ section.settings.p_link }}">
        <span class="block left background-image" role="img" aria-label="{{ section.settings.p_image.alt }}" style="background-image:url('{{ section.settings.p_image | img_url: '1600x' }}');"></span>
        <div class="block right">
            <div class="text-box">
                <h3 class="promo-title">{{ section.settings.p_title }}</h3>
                <p class="promo-desc">{{ section.settings.p_content }}</p>
                <div class="promo-cta cta">{{ section.settings.p_cta }}</div>
            </div>
        </div>
    </a>
{%- endif -%}
