{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}


{% unless shop.password_message == blank %}
<div class="title">
    <h2>{{ shop.password_message }}</h2>
</div>
{% endunless %}

<div class="forms-container">
    {% unless settings.remove_email_field == true %}
        <div class="customer-subscription">
            {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                    <ul class="form-success">
                        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
                    </ul>
                {% else %}
                    <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
                    <input type="hidden" name="contact[tags]" value="prospect, password page">
                    <div class="fieldset">
                        <div class="field">
                            <div class="input-wrapper">
                                <input type="email"
                                    name="contact[email]"
                                    id="Email"
                                    spellcheck="false"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" >
                                <label for="Email" class="visually-hidden">{{ 'general.password_page.signup_form_email_placeholder' | t }}</label>
                                <button type="submit" name="commit" class="btn">
                                    <span class="visually-hidden">{{ 'general.newsletter_form.submit' | t }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                {% endif %}
            {% endform %}    
        </div>
    {% endunless %}

    <div class="customer-login {% if settings.auto_hide_password == true %}hide-and-align{% endif %}">
        {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
            <div class="fieldset">
                <div class="field">
                    <div class="input-wrapper">
                        <input type="password"
                            name="password"
                            id="Password"
                            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                            autocomplete="off" >
                        <label for="Password" class="visually-hidden">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                        <button type="submit" name="commit" class="btn">
                            <span class="visually-hidden">{{ 'customer.login.sign_in' | t }}</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endform %}
    </div>
</div>
